
Hi {{Login}}!

Your password has now been reset.

If you did not request your password to be reset, please contact support at <A HREF="mailto:support@allbinary.se">support@allbinary.se</A>

<P>
  Best Regards,
  All Binary
</P>
