
<H3>Hi {{Login}}!</H3>

<P>
You (or someone impersonating you) requested a password reset code. If you did not request this, please ignore this email.
</P>
<P>
  Your unique password reset code is {{Code}}.
</P>
<P>
Use this code to re-set your password, either by clicking the link below or entering the code manually in the password reset form at <A HREF="{{Link}}">{{Link}}</A>

<P>
  Best Regards,
  All Binary
</P>
