
Hej {{Login}}!

Ditt lösenörd har nu ändrats.

Om det inte var du som begärde ändringen, vänligen kontakta supporten på <A HREF="mailto:support@allbinary.se">support@allbinary.se</A>.

<P>
  Mvh,
  All Binary
</P>
