
<H3>Hej {{Login}}!</H3>

<P>
Någon (förhoppningsvis du) har begärt återställning av ditt lösenord. Om det inte var du som begärde detta, vänligen ignorera
detta e-postmeddelande.
</P>
<P>
För att välja ett nytt lösenord, klicka <A HREF="{{Link}}">här</A>.

<P>
  Mvh,
  All Binary
</P>
